.loading-container {
  position: fixed;
  inset: 0;

  background: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

/* Spinner básico */
.spinner {
  width: 40px;
  height: 40px;

  border: 4px solid rgba(255, 255, 255, 0.1);
  border-top: 4px solid #ff0033;

  border-radius: 50%;

  animation: spin 0.8s linear infinite;
}

/* Texto */
.loading-text {
  margin-top: 16px;
  font-size: 0.9rem;
  color: #aaa;
  letter-spacing: 1px;
}

/* Animação */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}